
.search-page-header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.search-page-header a, a:visited, a:hover, a:active {
  text-decoration: inherit;
}

.search-page-header-body > .search > .search-input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.search-page-result-link {
  text-decoration: none;
  color: black;
}

.search-page-result-count {
  color: #70757a;
  font-size: 14px;
}