
.search-page-header {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.search-page-header a, a:visited, a:active {
  text-decoration: none;
  color: black;
}

.search-page-header a:hover {
  text-decoration: underline;
}

.search-page-result-link {
  text-decoration: none;
  color: black;
}

.search-page-result-count {
  color: #70757a;
  font-size: 14px;
}